{{ define "main" }}

<main id="main-container">
  <section class="container banner clear">
    <div class="logo">
      <a href="/">
        <img src="/dist/images/logo.png" alt="Logo" class="logo-img">
      </a>
    </div>
    <div class="landing text-container right">
      <h1>Luxury Access Platform for Crypto-Affluents</h1>
        <p>Aditus is a revolutionary new platform bringing the world of luxury to crypto-affluents. Using a uniquely decentralised network, Aditus grants access to all aspects of the luxury lifestyle while guaranteeing privacy. Token Sales will begin in November 2017.</p>
        <p class="whitepaper-download">
          <a href="#">Whitepaper Coming Soon</a>
        </p>
    </div>
    <div id="arrow-down"></div>
  </section>
  <section id="opportunity" class="container clear opportunity">
    <h2>A huge opportunity brewing - crypto-affluents and their desired luxury lifestyle</h2>
      <div class="line"></div>
      <!-- <div class="img-asset right opp">
        <img src="/dist/images/star.svg" class="star">
        <img src="/dist/images/iphone.svg" class="iphone">
        <img src="/dist/images/concierge.png" class="conc opp-icons">
        <img src="/dist/images/club.png" class="club opp-icons">
        <img src="/dist/images/watch.png" class="watch opp-icons">
        <img src="/dist/images/restaurant.png"class="rest opp-icons">
        <img src="/dist/images/car.png" class="car opp-icons">
        <img src="/dist/images/yacht.png"class="yacht opp-icons">
        <img src="/dist/images/real_estate.png" class="real opp-icons">
        <img src="/dist/images/medical_care.png" class="med opp-icons">
      </div> -->
      <div class="text-container left">
        <p>Skyrocketing crypto-currency values have created a growing new class of affluent individuals – the crypto affluents. Many crypto-affluents desire the luxury lifestyle but many find themselves excluded. This is because traditional luxury merchants do not know how to reach and communicate to the equally insular crypto-currency community. Additionally, very few luxury merchants accept cryptocurrencies as payment.
        </br></br></br>
        Founded by luxury and technology veterans, Aditus bridges luxury merchants and crypto-affluents. Integrating smart contracts, payment gateways and extremely strong privacy protection technologies into a single platform, Aditus empowers crypto-users to unlock the luxury lifestyle.
        </p>
      </div>
  </section>
  <section id="membership" class="container clear">
    <h2>Aditus brings the luxury lifestyle to crypto users</h2>
    <div class="benefits-item-wrap clear">
      <div class="img-asset left">
        <img src="/dist/images/phone.png" alt="phone" class="phone">
      </div>
      <div class="text-container right">
      <h3 class="benefitsTopText">Ordinary Membership (Free)</h3>
      <div class="line benefitsTopLine"></div>
      <p class="benefitsTopSmallText">
        Simply by entering your preference within the Aditus app, Smart Invitations fitting your preferences immediately appear.
        </br></br>
        These Smart Invitations are sent directly from luxury merchants, and powered by Ethereum smart contracts.
        </br></br>
        Uniquely, Aditus’ Smart Invitations allow merchants to offer you reward tokens for visiting their showroom or sharing more details on your preferences. They may even offer you special prices on their products & services.
      </p>
      </div>
    </div>
    <div class="benefits-item-wrap clear">
      <div class="img-asset right">
        <img src="/dist/images/phone-2.png" alt="phone" class="phone">
      </div>
      <div class="text-container left">
      <h3 class="benefitsBottomText">VIP Membership</h3>
      <div class="line benefitsBottomLine"></div>
      <p class="benefitsBottomSmallText">
        For the most discerning of crypto-affluents, Aditus offers a paid membership program with the most sought-after luxury privileges. Think 24-7 concierge service, access to the exclusive establishments, discounted charters for yachts and private jets, invitations to fashion shows, film festivals etc.
        </br></br>
        These services used to be only available to customers of the most exclusive credit cards and private banks. Aditus draws on decades of luxury experience and brings them into the crypto-world.
        </br></br>
        Three levels of VIP Memberships are available, and only a limited number of slots are available at any one time.
      </p>
      </div>

    </div>
  </section>
  <section class="benefits container clear" id='access'>
    <h2 class="sub">One App. Access To All Aspects Of The Luxury Lifestyle.</h2>
    <div class="line"></div>
    <h4>Aditus covers the entire spectrum of the luxury lifestyle, and brings it right to the palm of your hand. </h4>
      <!-- <div class="logo-quan">
        <img src="/dist/images/913204533833950425.png" alt="Logo">
      </div> -->
      <div class="img-asset-y opp logo-quan clear">
        <img src="/dist/images/star-01.svg" class="star opp-icons-animation">
        <img src="/dist/images/iphone-01.svg" class="iphone">
        <img src="/dist/images/Aditus Icon Set/white icons/concierge.png" class="concierge opp-icons opp-icons-animation">
        <img src="/dist/images/Aditus Icon Set/white icons/yacht.png" class="yacht opp-icons opp-icons-animation">
        <img src="/dist/images/Aditus Icon Set/white icons/car.png" class="car opp-icons opp-icons-animation">
        <img src="/dist/images/Aditus Icon Set/white icons/watch.png" class="watch opp-icons opp-icons-animation">
        <img src="/dist/images/Aditus Icon Set/white icons/real_estate.png" class="real_estate opp-icons opp-icons-animation">
        <img src="/dist/images/Aditus Icon Set/white icons/restaurant.png" class="restaurant opp-icons opp-icons-animation">
        <img src="/dist/images/Aditus Icon Set/white icons/club.png" class="club opp-icons opp-icons-animation">
        <img src="/dist/images/Aditus Icon Set/white icons/medical_care.png" class="medical_care opp-icons opp-icons-animation">
        <img src="/dist/images/Aditus Icon Set/white icons/art.png" class="art opp-icons opp-icons-animation">
        <img src="/dist/images/Aditus Icon Set/white icons/fashion_show.png" class="fashion_show opp-icons opp-icons-animation">
        <img src="/dist/images/Aditus Icon Set/white icons/travel.png" class="travel opp-icons opp-icons-animation">
        <img src="/dist/images/Aditus Icon Set/white icons/private_jet.png" class="private_jet opp-icons opp-icons-animation">
      </div>
      <!--
      <div class="column-wrap clear">
      <div class="leftcolumn benefitscolumn">
        <div class="iconrow">
          <div class="icon-conc icons"></div>
          <h4>Concierge</h4>
          <p>We are able to provide concierge services 24/7 around the world.</p>
        </div>
        <div class="iconrow">
          <div class="icon-yacht icons"></div>
          <h4>Yacht</h4>
          <p>We are able to provide private yacht charter services 24/7 around the world.</p>
        </div>
        <div class="iconrow">
          <div class="icon-car icons"></div>
          <h4>Car</h4>
          <p>We are able to provide car services 24/7 around the world.</p>
        </div>
        <div class="iconrow">
          <div class="icon-watch icons"></div>
          <h4>Watch</h4>
          <p>Want that luxurious watch? Look no further.</p>
        </div>
        <div class="iconrow">
          <div class="icon-real icons"></div>
          <h4>Real Estates</h4>
          <p>We are able to get hold of real estate services 24/7 around the world.</p>
        </div>
        <div class="iconrow">
          <div class="icon-rest icons"></div>
          <h4>Restaurants</h4>
          <p>We open doors to the world's most in-demand restaurants for you.</p>
        </div>

      </div>
      <div class="middlecolumn benefitscolumn">
        <img src="/dist/images/iphone-01.svg" class="iphone">
      </div>
      <div class="rightcolumn benefitscolumn">
        <div class="iconrow">
          <div class="icon-club icons"></div>
          <h4>Club</h4>
          <p>We can help you skip the line and get into coveted clubs around the world.</p>
        </div>
        <div class="iconrow">
          <div class="icon-med icons"></div>
          <h4>Medical Care</h4>
          <p>Rest assured in the knowledge that whatever the emergency, we're just a phonecall away.</p>
        </div>
        <div class="iconrow">
          <div class="icon-art icons"></div>
          <h4>Art</h4>
          <p>If fine art is your thing, we got you covered.</p>
        </div>
        <div class="iconrow">
          <div class="icon-fashion icons"></div>
          <h4>Fashion</h4>
          <p>Here's your access to fashion shows around the world.</p>
        </div>
        <div class="iconrow">
          <div class="icon-travel icons"></div>
          <h4>Travel</h4>
          <p>Whether you're travelling for work or for play, we can take care of all your travel arrangement.</p>
        </div>
        <div class="iconrow">
          <div class="icon-jet icons"></div>
          <h4>Jet</h4>
          <p>We are able to provide private jet charter services 24/7 around the world.</p>
        </div>
      </div>
    </div>
  </div>-->
  </section>
  <section id="privacy" class="container">
    <h2>Your private data should remain just that. Private.</h2>
    <h4 class="techSubtitle">Using a uniquely decentralised platform, Aditus enables luxury consumption without your data being tracked. </h4>
    <div class="technology-wrap clear">
      <div class="privacy-item">
        <img src="/dist/images/decentralised.png" class="priv-icon">
        <h4>Decentralised Platform</h4>
        <p>Unlike other rewards platforms, Aditus does not track and collect user data.</p>
      </div>
      <div class="privacy-item">
        <img src="/dist/images/privacy2.png" class="priv-icon">
        <h4>Data Controlled by Users</h4>
        <p>User data is enrypted and stored on the mobile device. No data leaves the phone unless specifically authorised by the user.</p>
      </div>
      <div class="privacy-item">
        <img src="/dist/images/privacy3.png" class="priv-icon">
        <h4>Privacy + Rewards </h4>
        <p>Transactions are not only private, but also earn you rewards via cashbacks.</p>
      </div>
    </div>
  </section>
  <section id="team" class="container clear">
    <h2>Team</h2>
    <h4>The Aditus team is led by serial entrepreneurs with a strong track record in product development, roll-out and company building. We possess decades of experience, domain knowledge and connections in the luxury business.</h4>
    <div class="team">
      <div class="team-people">
        <img src="/dist/images/team2.png" alt="julian">
        <h5>Julian Peh</h5>
        <h6>Co-Founder</h6><a href="https://linkedin.com/in/julianpeh" class="linkedin" target="_blank"></a>
        <p>
        Leading digital luxury entrepreneur in Asia-Pacific.
        Julian is highly experienced in digital product development and roll-out, having founded and built Luxury-Insider.com into the leading luxury portal in Asia before it was acquired by media giant Singapore Press Holdings.<span class="aditus-button1">more...</span>
        <p class="deshide">
        He has been at the forefront of rolling out tech solutions for luxury clients from online advertising, mobile marketing to data systems, signing up hundreds of luxury brands often for their very first forays into that technology.
        For the past 3 years he has been at the centre of the luxury rewards industry as CEO of SERA. SERA is a data platform integrated with credit card data networks, powering luxury rewards programs in luxury stores in partnership with Visa, banks and luxury brands. SERA has acquired >100 luxury brand stores to date. He is an active investor in crypto currencies.
        </br></br>
        Julian is concurrently a shareholder of Heart Media, owner of Singapore RendezVous, Phuket RendezVous and Penang RendezVous <span class="aditus-button2">less</span>
        </p>
        </p>
        </div>
      <div class="team-people">
        <img src="/dist/images/team3.png" alt="prakash">
        <h5>Prakash Somosundram</h5>
        <h6>Co-Founder</h6><a href="https://linkedin.com/in/prakashsomo" class="linkedin" target="_blank"></a>
        <p>
          Leading digital entrepreneur.
          </br></br>
          Prakash is a leading digital entrepreneur who founded Yolk, a digital agency that served clients like Lenovo, Microsoft, Singapore’s Ministry of<span class="aditus-button1">more...</span> <p class="deshide">Communications and the Arts. Yolk acquired by WPP in 2011) He is highly ranked as an influencer in the Fintech space in Singapore and Asia. He is actively involved in startup ecosystem development and promotion in Singapore.
          </br></br>
          In 2016 he was recognized at the Singapore Indian Business Leaders ( SIBL) awards <span class="aditus-button2">less</span></p>
        </p>
        </div>
      <div class="team-people">
        <img src="/dist/images/team1.png" alt="olivier">
        <h5>Olivier Burlot</h5>
        <h6>Co-Founder</h6><a href="https://linkedin.com/in/olivierburlot" class="linkedin" target="_blank"></a>
        <p>
          Leading luxury entrepreneur with a long track record in luxury events and media.<span class="aditus-button1">more...</span>
          </br></br>
          <p class="deshide">One of the most successful luxury media and event  entrepreneurs in Asia, Olivier was at the forefront of luxury’s growth in Asia the last 20 years. Having helmed luxury media companies and yacht companies, Olivier also co-founded some of the most famous luxury shows in the world including Hainan RendezVous海天盛筵. He brings a wealth of global connections and relationships within the luxury industry.
          </br></br>
          Olivier is CEO of Heart Media, which also owns the Singapore RendezVous, Phuket RendezVous and Penang Rendezvous, all leading luxury shows at the centre of ultra-affluent communities. <span class="aditus-button2">less</span></p>
        </p>

      </div>
      <div class="team-people">
        <img src="/dist/images/team4.png" alt="tony">
        <h5>Tony Chew</h5>
        <h6>Blockchain Lead</h6><a href="https://linkedin.com/in/tonychew1986" class="linkedin" target="_blank"></a>
        <p>
        Tony has over 10 years of industry experience in the technology domain, having helmed multiple projects in different roles. He is the core developer of SafeAsset.io, a next-generation decentralised cryptocurrency banking platform<span class="aditus-button1">more...</span>
        <p class="deshide">
        </br></br>
        He has been involved with blockchain technology since 2011, having worked on multiple projects with decentralisation as a goal while leveraging underlying cryptographic techniques; eg multisignature escrow, shamir secret for key distribution, hashing as cryptographic notary etc. His prior knowledge on game theory and economic theory give him an advantage when it comes to designing DAO projects. <span class="aditus-button2">less</span></p>

        </p>
      </div>
      <h2>Advisors</h2>
      <div class="team advisor">
        <div class="team-people">
          <img src="/dist/images/shaun.png">
          <h5>Shaun Djie</h5>
          <h6>Advisor</h6><a href="https://www.linkedin.com/in/shaundjie/" class="linkedin" target="_blank"></a>
          <p>• Co-Founder Digix Global</br>
            • Lead Coordinator, Ethereum
            Singapore, Meetup</p>
        </div>
        <div class="team-people">
          <img src="/dist/images/francis.png">
          <h5>Francis Srun</h5>
          <h6>Advisor</h6><a href="https://www.linkedin.com/in/fsrun/" class="linkedin" target="_blank"></a>
          <p>
          • Former MD Ralph Lauren, Boucheron, Piaget</br>
          • 20 years experience in luxury</p>
        </div>
        <div class="team-people">
          <img src="/dist/images/regina.png">
          <h5>Regina Lam</h5>
          <h6>Advisor</h6><a href="https://www.linkedin.com/in/regina-lam-2013/" class="linkedin" target="_blank"></a>
          <p>
            • Former CEO Tom Ford Asia, Staff International, LVMH</br>
            • 20 years experience in luxury</p>
        </div>
        <div class="team-people">
          <img src="/dist/images/kenneth.png">
          <h5>Kenneth Oh</h5>
          <h6>Advisor</h6><a href="https://www.linkedin.com/in/kenneth-oh-3187a111a/" class="linkedin" target="_blank"></a>
          <p>
            • Senior Partner, Dentons Rodyk</br>
            • Leading corporate finance lawyer in
            Singapore with expertise in token sale</p>
        </div>
      </div>
    </div>
  </section>
  <section id="aditus-token" class="container clear">
    <h2>Aditus Token Utility</h2>
    <h4 class="tokenSubtitle">The Aditus Token ultilises Ethereum's decentralised infrastructure to give you access to luxury merchants.</h4>
    <img src="/dist/images/gravatar.png" id="token"/>
    <div class="utility-wrap clear">
      <div class="utility">
        <h4>Membership Proof</h4>
        <p>to access Smart Invitations and participate in token sharing from the Aditus Community Pool</p>
      </div>
      <div class="utility">
        <h4>Rewards Currency</h4>
        <p>to create Smart Invitations and use the Merchant’s Console</p>
      </div>
      <div class="utility">
        <h4>Transactional Currency</h4>
        <p>Users earn Rewards and Incentives in Aditus tokens just by engaging with Luxury Merchants via Smart Invitations</p>
      </div>
      <div class="utility">
        <h4>Community Pool</h4>
        <p>Users can use Aditus tokens as a possible transaction currency among Aditus merchants</p>
      </div>
    </div>
  </section>
  <section id="tokensale" class="container clear tokensale">
    <h2>Token Sale</h2>
    <!--
      <div class="tokensalewrapper clear">
        <div class="tokensaleleftcolumn tokensalecolumns">
          <h4>Aditus Token</h4>
            <p>Aditus Token is a standard ERC20 token. The total number of ADITUS Tokens will be capped at 1 billion. </p>
          <h4>Token Sale Period</h4>
            <p>Wednesday, November 15 at 1200 GMT+8</p>
          <h4>Accepted form of payment</h4>
            <p>BTC and ETH only</p>
          <h4>ADT/ETH exchange rate</h4>
            <p>1000 ADT : 1 ETH </p>
          <h4>Target raise amount</h4>
            <p>US$20,000,000</p>
        </div>
        <div class="tokensalerightcolumn tokensalecolumns">
            <h4>Total ADT Token circulation at end of token sale:</h4>
            <p>Depends on the USD/ETH rate 1 hour before the token sale, and the amount raised in ETH at each bonus stage (see below).</p>
            <h4>Bonus structure:</h4>
              <ul>
                <li class="tier1">1st day: 15%</li>
                <li class="tier2">Days 2 - 3: 10%</li>
                <li class="tier3">Days 4 - 7: 5%</li>
                <li class="tier4">Day 8 onwards: No bonus</li>
              </ul>
            <p>[1]: Defined 1 hour before the start of token sale. E.g. if USD/NEO = 50, then Target Raise Amount (NEO) = US$15,000,000 / 50 = 300,000 NEO tokens. The pre-sale tokens will be included in this NEO token count. I.e., if 60,000 NEO tokens were raised in pre-sale, then 240,000 NEO tokens remain to be raised during token sale.</p>
        </div>
      </div>

-->

<div class="chart-wrap clear">
      <div class="chart-img-wrap">
      <img src="/dist/images/chart.svg" class="chart">
      </div>
      <div class="chart-text-wrap">
        <h4>Aditus Tokens Distribution</h4>
        <ul>
          <li class="public">
            <h4>50% - Available for Token Sale</h4>
            <p>Only 1 billion Aditus tokens will be created. 50% of all tokens (500m tokens) offered for sale will be split into 3 sale periods (shown below).</p>
          </li>
          <li class="early">
            <h4>20% - Incentives for Luxury Merchants and Eco-System Participants: </h4>
            <p>20% of all tokens (200m tokens) will be used to merchant acquisition initiatives.
            </br></br>
            Tokens offered to incentivize merchants will be locked up in smart contracts that only allow the tokens to be used for funding Smart Invitations, and cannot be traded or sold.  These tokens will be allocated to jump-start Merchants' use of the Aditus platform.
            </p>
          </li>
          <li class="earlyt">
            <h4>15% Incentives for Strategic Partners & Token Holders:</h4>
            <p>
            15% of all tokens (150m tokens) will be allocated to user acquisition initiatives like air-drops to token holders, and partnerships with other crypto-currency companies.
            </p>
          </li>
          <li class="adteam">
            <h4>15% - Retained for Aditus Team:</h4>
            <p>
              15% of all tokens (150m tokens) will be reserved for the Aditus team to ensure long term interest alignment, and also to attract talent. Vested for a period of 12 months if all planned milestones are met.
            </p>
          </li>
        
        </ul>
        </div>
        <!--<div class="chart-text-wrapright">
          <div class="vertical-line"></div>
          <p>Tokens for merchants will be locked up in smart contracts that enable them to only be used only for funding Smart Invitations, and cannot be traded or sold.</p>
        </div>-->

      </div>
    </div>

    <!--<div class="chart-wrap clear">
      <div class="chart-img-wrap">
      <img src="/dist/images/chart.svg" class="chart">
      </div>
      <div class="chart-text-wrap">
        <h4>Aditus Tokens Distribution</h4>
        <ul>
          <li class="early">350m tokens - Incentivise early backers and eco-system participants such as key global luxury merchants. Tokens for merchants will be locked up in smart contracts that enable them to only be used only for funding Smart Invitations, and cannot be traded or sold.</li>
          <li class="adteam">150m tokens - will be reserved for the Aditus team. Vesting subject to milestones reached</li>
          <li class="public">500m tokens will be offered for public sale.</li>
        </ul>
        <p>The 500 million tokens offered for sale will be split into 3 sale periods as shown below.</p>
      </div>
    </div>

    <div class="token-text-wrapper">
    <div class="token-text">
      <h4>Pre - initial token sales:</h4>
        <p>100M Tokens will be available for sales priced at USD 0.05 (With up to 30% discounts subject to conditions). Tokens not sold rolled over to intial token sale
        </p>
      <h4>Intial token sales:</h4>
        <p>300M Tokens will be available for sales priced at USD 0.05. If not fully sold, remaining tokens will be rolled over to second offering</p>

        <h4>2nd Offering in 2018:</h4>
        <p>100M Tokens will be available. The price will be determined based on market price then. 2nd Offering will only be held if the market price exceeds 2x initial token sale price.</p>
      </div>
      <div class="token-text-img"><img src="/dist/images/chart4.svg" class="chart">
    </div>-->

    </div>

    <div class="summary">
      <div class="token-text">
        <h4>Pre-ITS sales:</h4>
          <p>100M Tokens will be available for sales priced at USD 0.05 (with discounts up to 30% subject to conditions) <br>Tokens not sold are rolled over to the Intial Token Sale</p>
        <h4>Intial Token Sale (ITS):</h4>
          <p>300M Tokens will be available for sales priced at USD 0.05 <br>Tokens not sold are rolled over to second offering</p>
        <h4>2nd Offering in 2018:</h4>
          <p>100M Tokens will be available for the second offering, scheduled for mid 2018. Price will be determined based on market price then <br>2nd Offering will only be held if the market price exceeds 1.5x ITS price </p>
      </div>

    <p class="whitepaper-download">
    <a href="">Whitepaper Coming Soon</a>
    </p>
    </div>
  </section>
</main>

{{ end }}
