.tokensale {
  .tokensaleChart {
    text-align: center;
    margin: 25px 0px;
    margin-bottom: 40px;
    overflow: auto;
  }

  .tokensaleFigures {
    margin-top: 25px;
    @include media-breakpoint-down(md) {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px dotted #333;
    }

    .tokensaleFiguresPanel {
      text-align: center;

      @include media-breakpoint-down(md) {
        margin-top: 20px;

        &:first-child{
          margin-top: 0px;
          padding-top: 0px;
          border-top: none;
        }
      }

      .tokensaleFiguresPanelPrimary{
        text-transform: uppercase;
        font-size: 18px;

        @include media-breakpoint-up(md) {
          text-align: right;
        }
      }
      .tokensaleFiguresPanelSecondary{
        font-size: 25px;
        font-weight: 900;
        color: #c69c2b;
        line-height: 25px;
        margin-bottom: 10px;
        font-family: Open Sans !important;

        @include media-breakpoint-up(md) {
          text-align: left;
        }
      }
      .tokensaleFiguresPanelTertiary{
        font-size: 16px;
        color: #999;

        @include media-breakpoint-down(md) {
          text-align: center !important;
        }
      }
      .tokensaleFiguresPanelQuaternary{
        text-transform: none;
        font-size: 12px;
        color: #999;
      }

      .hardCapDescription{
        line-height: normal;
      }
      .publicSale{
        font-size: 30px;
        line-height: 30px;
        background-color: #c69c2b;
        color: #000;
        padding: 10px 15px;

        @include media-breakpoint-up(md) {
          margin-left: -15px;
        }
      }
      .tokenCurrency{
        font-size: 17px;
      }
    }
  }

  .participateTokenSale{
    margin-top: 45px;
  }

  .call-to-actions a{
    min-height: 1px;
  }

  .resellerPartner{
    .logoPartner{
      line-height: 20px;

      img{
        width: 30px;
        float: left;
        margin-right: 10px;
        margin-top: 5px;
      }
    }
  }

  .priceNote{
    font-size: 11px;
    color: #c69c2b;
    margin-bottom: 15px;
    display: inline-block;
  }
}