
#membership {
  .container {
    // border-bottom: 1px solid $headings-color;
    @include media-breakpoint-up(md) {
      max-width: 65%;
    }
  }

  h2 {
    margin-bottom: ($spacer-y * 1.5);
  }

  h4 {
    font-family: 'Raleway', $font-family-sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
  }

  .ordinary {
    margin-top: ($spacer-y * 3);
    margin-bottom: ($spacer-y * 3);
  }

  p {
    color: #ddd;
  }

  .phone {
    margin: 0 auto ($spacer-y * 2);
    display: block;
    max-width: 70%;

    @include media-breakpoint-up(md) {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
      height: 450px;
    }
  }
}

.benefits h4 {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #ddd;
}
.benefits-item-wrap{
  padding: 4em 0em 1em 0em;
}
.iphone {
  width:300px;
  display: block;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}
.benefitscolumn {
  width:33%;
  float:left;
}
